@font-face {
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/robotomono/v13/L0xuDF4xlVMF-BfR8bXMIhJHg45mwgGEFl0_7PqPQw.ttf) format('truetype');
}
html body {
  height: 100vh;
  position: relative;
  overflow: hidden;
  padding: 0;
  margin: 0;
  font-family: 'Roboto Mono', monospace;
  color: white;
}
html body .scroll-container {
  display: flex;
  flex-direction: row;
}
html body .scroll-container .page {
  min-width: 100vw;
  height: 100vh;
  margin-left: -11px;
  position: relative;
}
@media (max-width: 767px) {
  html body .scroll-container .page {
    min-width: 768px;
  }
}
html body .scroll-container .page h1 {
  position: absolute;
  right: 0;
  top: 10%;
  opacity: 1;
  transition: opacity 300ms ease;
  text-transform: uppercase;
}
html body .scroll-container .page h1.fadeOut {
  opacity: 0;
}
html body .scroll-container .page.page-one {
  background: linear-gradient(90deg, #33d8fb 0%, #3381fb 100%);
}
html body .scroll-container .page.page-one .ground {
  background: linear-gradient(90deg, #1aac35 0%, #117824 100%);
}
html body .scroll-container .page.page-one .sun {
  position: absolute;
  left: 15%;
  top: -20%;
  width: 15%;
}
@media (max-width: 767px) {
  html body .scroll-container .page.page-one .sun {
    top: 20%;
  }
}
html body .scroll-container .page.page-one .sun img {
  max-width: 100%;
}
html body .scroll-container .page.page-two {
  background: linear-gradient(90deg, #3381fb 0%, #522fe0 100%);
}
html body .scroll-container .page.page-two h1 {
  color: white;
  opacity: 0;
  transition: opacity 300ms ease;
  text-transform: uppercase;
  font-family: 'Roboto Mono', monospace;
  width: 100%;
  text-align: center;
}
html body .scroll-container .page.page-two h1.fadeIn {
  opacity: 1;
}
html body .scroll-container .page.page-two .ground {
  background: linear-gradient(90deg, #117824 0%, #0f601e 100%);
}
html body .scroll-container .page.page-three {
  background: linear-gradient(90deg, #522fe0 0%, #020557 100%);
  min-width: 106vw;
}
@media (max-width: 767px) {
  html body .scroll-container .page.page-three {
    min-width: 768px;
  }
}
html body .scroll-container .page.page-three .stars {
  background: url('../img/stars.png');
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background-size: 50%;
  background-repeat: repeat;
}
html body .scroll-container .page.page-three .ground {
  background: linear-gradient(90deg, #0f601e 0%, #0a3e14 100%);
}
html body .scroll-container .page.page-three .moon {
  position: absolute;
  right: 15%;
  top: -20%;
  width: 15%;
}
@media (max-width: 767px) {
  html body .scroll-container .page.page-three .moon {
    top: 20%;
  }
}
html body .scroll-container .page.page-three .moon img {
  max-width: 100%;
}
html body .scroll-container .page .ground {
  position: absolute;
  height: 45%;
  bottom: 0;
  width: 100%;
}
html body .scroll-container .page .tree {
  position: absolute;
  bottom: 45%;
  left: 30%;
  height: 40%;
}
html body .scroll-container .page .tree img {
  height: 100%;
}
html body #char {
  position: fixed;
  top: 45%;
  left: 40%;
  height: 185px;
  width: 250px;
  pointer-events: none;
  z-index: 10;
  background-image: url('../img/char.png');
  background-size: 1750px;
  background-position: -750px -925px;
}
html body #char.left {
  transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
}
html body #char.idle {
  background-size: 1750px;
  background-position: -750px -925px;
  animation: idle 750ms steps(4) infinite;
  -moz-animation: idle 750ms steps(4) infinite;
  -webkit-animation: idle 750ms steps(4) infinite;
  -o-animation: idle 750ms steps(4) infinite;
}
html body #char.run {
  background-size: 1750px;
  background-position: -250px -200px;
  animation: run 1000ms steps(6) infinite;
  -moz-animation: run 1000ms steps(6) infinite;
  -webkit-animation: run 1000ms steps(6) infinite;
  -o-animation: run 1000ms steps(6) infinite;
}
@keyframes idle {
  100% {
    background-position: -1750px -925px;
  }
}
@-moz-keyframes idle {
  100% {
    background-position: -1750px -925px;
  }
}
@-webkit-keyframes idle {
  100% {
    background-position: -1750px -925px;
  }
}
@-o-keyframes idle {
  100% {
    background-position: -1750px -925px;
  }
}
@keyframes run {
  100% {
    background-position: -1750px -200px;
  }
}
@-moz-keyframes run {
  100% {
    background-position: -1750px -200px;
  }
}
@-webkit-keyframes run {
  100% {
    background-position: -1750px -200px;
  }
}
@-o-keyframes run {
  100% {
    background-position: -1750px -200px;
  }
}
